@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  color: #122436;
}

.navbar .navbar-brand {
  height: 56px;
}

.navbar .navbar-nav a {
  font-size: 18px;
  font-weight: 700;
  color: #122436 !important;
}

.navbar .btn-nav-masuk {
  background-color: #1F91FF;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 38px;
  color: #fff;
  border-radius: 10px;
}

.navbar .btn-nav-masuk:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-hero {
  margin-top: -104px !important;
  padding-top: 100px;
  min-height: 100vh;
}

.section-hero h1 {
  font-weight: bold;
  font-size: 46px;
}

.section-hero h1 span {
  color: #1F91FF;
}

.section-hero p {
  font-size: 24px;
  font-weight: 300;
}

.section-hero .btn-masuk-hero {
  background-color: #1F91FF;
  padding: 14px 33px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.section-hero .btn-masuk-hero:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-hero .hero-img {
  max-width: 100%;
}

.section-pengumuman {
  background-color: #F6F9FC;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-pengumuman .section-pengumuman-content h2 {
  margin-bottom: 70px;
  font-size: 36px;
  font-weight: bold;
}

.section-pengumuman .section-pengumuman-content .card-pengumuman {
  z-index: 1;
  border: 0;
  border-radius: 30px;
  max-width: 343px;
  background-color: #1F91FF;
  -webkit-filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.25));
}

.section-pengumuman .section-pengumuman-content .card-pengumuman .card-pengumuman-image {
  max-width: 343px;
  max-height: 209px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.section-pengumuman .section-pengumuman-content .card-pengumuman .card-title {
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 20px 10px 20px;
}

.section-pengumuman .section-pengumuman-content .card-pengumuman .btn-selengkapnya {
  background-color: #fff;
  max-width: 200px;
  font-size: 14px;
  font-weight: bold;
  color: #1F91FF;
  padding: 5px 15px;
  margin: 0 20px 20px;
}

.section-pengumuman .section-pengumuman-content .card-pengumuman .btn-selengkapnya .bi-arrow-right-short {
  fill: #1F91FF !important;
}

.section-pengumuman .section-pengumuman-content .card-pengumuman .btn-selengkapnya:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-pengumuman .section-pengumuman-content .btn-post-lain {
  z-index: 2;
  background-color: #fff;
  color: #1F91FF;
  font-weight: bold;
}

.section-pengumuman .section-pengumuman-content .btn-post-lain .bi-arrow-down {
  fill: #1F91FF;
}

.section-pengumuman .section-pengumuman-content .btn-post-lain:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-fakultas {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-fakultas h2 {
  margin-bottom: 70px;
  font-size: 36px;
  font-weight: bold;
}

.section-fakultas .card-fakultas {
  border-radius: 30px;
  -webkit-filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.25));
}

.section-fakultas .card-fakultas .black-opacity {
  position: absolute;
  max-width: 343px;
  max-height: 361px;
  background: rgba(18, 36, 54, 0.45);
  border-radius: 30px;
}

.section-fakultas .card-fakultas h3 {
  position: absolute;
  margin: 27px auto auto 35px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.section-fakultas .card-fakultas p {
  position: absolute;
  bottom: 0;
  margin: auto auto 35px 35px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.section-fakultas .card-fakultas a {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto 35px 35px auto;
  font-weight: bold;
}

.section-fakultas .card-fakultas a .bi-arrow-right {
  fill: #fff;
}

.section-fakultas .btn-fakultas-lain {
  z-index: 2;
  background-color: #fff;
  color: #1F91FF;
  font-weight: bold;
}

.section-fakultas .btn-fakultas-lain .bi-arrow-down {
  fill: #1F91FF;
}

.section-fakultas .btn-fakultas-lain:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-mengajar {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F6F9FC;
}

.section-mengajar .mengajar-image {
  max-width: 90%;
  max-height: 90%;
}

.section-mengajar h2 {
  font-size: 46px;
  font-weight: bold;
}

.section-mengajar p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 25px;
}

.section-mengajar .btn-tertarik {
  margin-top: 25px;
  padding: 12px 39px;
  background-color: #1F91FF;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.section-mengajar .btn-tertarik:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-login {
  min-height: 90vh;
  margin-top: -104px;
  padding-top: 104px;
}

.section-login img {
  max-width: 90%;
}

.section-login .card {
  padding: 47px 63px;
  border: none;
  -webkit-box-shadow: 0px 30px 50px rgba(31, 145, 255, 0.25);
          box-shadow: 0px 30px 50px rgba(31, 145, 255, 0.25);
  border-radius: 10px;
}

.section-login .card h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
}

.section-login .card input {
  background-color: #E9EFF6;
  border: none;
  padding: 22px;
}

.section-login .card ::-webkit-input-placeholder {
  color: #828589;
  font-size: 18px;
  font-weight: bold;
}

.section-login .card :-ms-input-placeholder {
  color: #828589;
  font-size: 18px;
  font-weight: bold;
}

.section-login .card ::-ms-input-placeholder {
  color: #828589;
  font-size: 18px;
  font-weight: bold;
}

.section-login .card ::placeholder {
  color: #828589;
  font-size: 18px;
  font-weight: bold;
}

.section-login .card .btn-masuk {
  margin-top: 30px;
  padding: 18px 0;
  background-color: #1F91FF;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.section-login .card .btn-masuk:hover {
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.section-login .card .btn-lupa-pw {
  margin-top: 35px;
  font-size: 18px;
  color: #828589;
}

footer {
  padding-top: 70px;
  padding-bottom: 10px;
}

footer h3 {
  font-size: 18px;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 300;
}

footer hr {
  margin-top: 70px;
}

footer .footer-credit {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */